
.menu {
    position: fixed;
    width: 15%;
    height: 100vh;
    background: var(--leftNavbarColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
}

.containerSubmenu {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
}

.containerSubmenu > a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
}

.containerSubmenu > ul > li > a {
    font-size: 1rem;
}

.containerBottom {
    position: absolute;
    height: 5%;
    bottom: 0;
}

.linkButton {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--buttonColor);
    margin: 3px;
    border: 0;
}

.linkButton:hover {
    background: var(--buttonHoverColor);
}

